@font-face {
	font-family: WalkTheMoon;
	src: url('src/assets/WalkTheMoonSemiItalic-Rplqo.otf') format('opentype');
}

@font-face {
	font-family: Roboto;
	src: url('src/assets/RobotoRegular-3m4L.ttf') format('truetype');
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.title {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: calc(10px + 10vmin);
	font-family: WalkTheMoon;
}

.subtitle {
	font-size: calc(10px + 5vmin);
}

.title > span {
	text-shadow: 3px 3px var(--highlight-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
